.c {
    height: auto;
    min-height: 1000px;
    background-image: url("../static/image/personal-space-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 31px;
    background-color: #9CAEC1;
    width: 100%;
    margin: auto;
    &>div {
        width: 1280px;
        margin: auto;
    }
}

#headTop {
    width: 100%;
    height: 30px;
    background: url("../static/image/module_top.gif");
    background-repeat: repeat-x;
    .logo {
        background: url("../static/image/logo.jpeg") no-repeat 20px 60px;
        width: 200px;
        height: 30px;
        float: left;
        cursor: pointer;
    }
}

.gray {
    color: #656D77;
}

#topBar {
    float: right;
    height: 12px;
    margin-bottom: 15px;
    line-height: 12px;
    margin-top: 8px;
    &>ul {
        list-style: none;
        float: right;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
        margin: 0;
        padding: 0;
        &>li {
            float: left;
            display: list-item;
            padding-right: 8px;
            padding-left: 8px;
            line-height: 12px;
            height: 12px;
            padding-top: 1px;
            white-space: nowrap;
        }
    }
}

#head {
    position: relative;
    height: 225px;
}

#spaceName {
    position: absolute;
    top: 28%;
    left: 30px;
}

#navMenu {
    position: absolute;
    bottom: 0px;
    left: 210px;
    height: 34px;
    line-height: 34px;
    li {
        float: left;
        list-style: none;
    }
    ul {
        list-style: none;
    }
}

#navMenu li a {
    // background-image: url(menu_bg.gif);
    background-repeat: no-repeat;
    background-position: left 0;
    font-size: 14px;
    display: block;
    padding-left: 1em;
    float: left;
}

#navMenu li a span {
    // background-image: url(menu_bg.gif);
    background-repeat: no-repeat;
    background-position: right 0;
    display: block;
    cursor: pointer;
    float: left;
    padding-right: 1em;
}

#navMenu li a:hover {
    text-decoration: underline;
}

#navMenu li.thisClass a {
    background-position: left -34px;
    text-decoration: none;
    font-weight: bold;
    color: #666;
}

#navMenu li.thisClass a span {
    background-position: right -34px;
}

#navChild {
    // background-image: url(nav_bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 37px;
    margin-top: -1px;
    *margin-top: -2px;
}

.mT10 {
    margin-top: 10px;
}

.content {
    width: 950px;
    clear: both;
    margin: 0 auto;
}

.leftSide {
    width: 210px;
    float: left;
}

.border {
    border: 1px solid #919BA2;
    background-color: #EBEEF3;
    padding: 1px;
    margin: 0;
}

.caption {
    // background-image: url(c_bg.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    line-height: 24px;
    height: 24px;
    display: block;
    strong {
        color: #3A3A3A;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 5px;
        float: left;
        font-weight: bold;
    }
}

.body {
    clear: both;
    height: 100%;
    padding-top: 10px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 0;
}

#userInfo {
    .pic {
        display: table-cell !important;
        display: block;
        font-size: 25px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        margin-right: auto;
        margin-left: auto;
        width: 190px;
    }
}

h4 {
    font-size: 14px;
    line-height: 18px;
}

.dashed {
    background-image: url(../static/image/dashed.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
}

.pB10 {
    padding-bottom: 10px;
}

.textCenter {
    text-align: center;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

ul.w50 li {
    float: left;
    width: 50%;
}

.mT5 {
    margin-top: 5px;
}

.mB10 {
    margin-bottom: 10px;
}

h6 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.mB5 {
    margin-bottom: 5px;
}

#userInfo .buttonBlue li a {
    margin-left: 15px;
    display: inline;
}

.aGray,
.grayA a:link,
.grayA a:visited {
    color: #656D77;
}

.buttonBlue a {
    background-image: url(../static/image/botton.png);
    background-repeat: no-repeat;
    background-position: 0px -35px;
    text-decoration: none;
    padding-left: 8px;
    float: left;
}

a:link,
a:visited {
    color: #074387;
    text-decoration: none;
}

.lh20 {
    line-height: 20px;
}

.mL10 {
    margin-left: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.midContent {
    width: 730px;
    float: right;
}

dd {
    margin: 0;
    padding: 0;
    line-height: 1.42857143;
}

.mp10 {
    margin: 10px;
    padding: 10px;
}

.mB10 {
    margin-bottom: 10px;
}

.fLeft {
    float: left;
}

h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.mL5 {
    margin-left: 5px;
}

p {
    margin: 0;
    padding: 0;
}

.lh22 {
    line-height: 22px;
}

.f14 {
    font-size: 14px;
}

.aBlack,
.blackA a:link,
.blackA a:visited {
    color: #000;
    text-decoration: none;
}

#artInfo {
    margin-top: 30px;
    li {
        font-size: 11px;
        margin-left: -1px;
        padding-left: 10px;
        border-left: 1px solid #CCC;
        height: 12px;
        line-height: 12px;
        margin-right: 10px;
    }
}

strong,
b {
    font-weight: bold;
}

.overflow {
    overflow: hidden;
}

.fRight {
    float: right;
    li {
        float: left;
    }
}

.tList {
    border: 1px solid #dddddd;
}

table {
    border-collapse: collapse;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.tList tbody tr {
    background-color: #fff;
}

.tList tbody tr td {
    vertical-align: top;
}

.tList th,
.tList td {
    line-height: 25px;
    padding-right: 4px;
    padding-left: 4px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.mT10 {
    margin-top: 10px;
}

.allList {
    width: 100%;
    clear: both;
    img {
        float: left;
        margin-right: 10px;
        overflow: hidden;
    }
    .txt {
        overflow: hidden;
    }
    .p2 {
        color: #666;
    }
}

.pTB10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

h5 {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.clearfix {
    display: block;
}

.clearfix {
    zoom: 1;
}

.mTB10 {
    margin-top: 10px;
    margin-bottom: 10px;
}